@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(imagen/galaxy-night-panorama\ \(1\).jpg);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
}

body {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #09f5c6 #191919;
    /* funciona cuando abris el modal del proyecto */
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-track-piece {
    background-color: #191919;
}

body::-webkit-scrollbar-thumb {
    height: 30px;
    background-color: #09f5c6;
}


nav {
    display: flex;
    justify-content: flex-start;
    width: 100%;

}


.logo {
    width: 100px;
    margin-left: 20px;

}

.textos {
    color: #fff;
    position: relative;
    bottom: 5%;
    margin-left: 30px;
    margin-top: 150px;
    margin-bottom: -30px;

}

p {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: -30px;

}

h1 {
    font-size: 130px;
    line-height: 160px;
    margin-left: -10px;
    color: transparent;
    -webkit-text-stroke: 1px #fff;
    background: url(imagen/back.png);
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;

}

@keyframes back {
    100% {
        background-position: 2000px 0;
    }
}

h3 {
    font-size: 20px;
    font-weight: 500;
    margin-top: -20px;

}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-left: 30px;
    color: #fff;

}

.row a {
    color: #fff;
    text-decoration: none;
    padding: 5px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.span {
    font-size: 15px;
    line-height: 30px;
    margin-left: 5px;
}

.social-icons {
    position: absolute;
    right: 5%;
    bottom: 85%;
    display: flex;
    justify-content: center;
    color: #fff;
}

.instagram {
    width: 60px;
}

.linkedin {
    width: 50px;
    margin-top: 3px;
}

.github {
    width: 60px;
}



/*--------------------------INICIO------------------------------*/

.fondo-inicio {
    background-image: url(imagen/fondo-inicio.jpg);
    height: 100vh;
    background-position: center;
    background-repeat: repeat;
    width: 100%;
    background-size: cover;
    font-family: 'Barlow Condensed', sans-serif;
    overflow-y: scroll;
    scrollbar-width: thin;
}

/*------------NAVEGACION -------------*/


nav .menu .lista {
    margin: 1em;
}

nav .menu .lista a:hover {
    text-decoration: line-through;
    color: #09f5c6;
}

nav .menu .lista .activo {
    text-decoration: line-through;
    color: #09f5c6;
}

nav .logo:hover {
    color: #09f5c6;
}

.sobremi {
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
}

/*-----------PERFIL------------------*/

.fotoperfil {
    border: solid 2px white;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    background-size: cover;

}

.contenedor-descripcion {
   
    font-size: 1em;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 0.7em;
    margin: 0;
    padding: 0 0 15px 0;
}

.nombre {
    padding: 1em 0 0 0;
    font-size: 3em;
    font-size: 40px;
    font-weight: 600;
    font-family: 'Barlow Condensed', sans-serif;
}

.div-descripcion {
    margin-top: 50px;
    width: 70%;
    margin-left: 15%;
    color: #fff;
    display: flex;
    justify-content: center;

}

.descripcion {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 20px;
    font-weight: 300;
    font-family: 'Barlow Condensed', sans-serif;
}

/*------------FOOTER----------------*/
.footer{
    padding: 0;
  margin-bottom: 40px;
  height: auto;
}
.Redes {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 500px;
    cursor: pointer;
    position: sticky;
    
}

.Redes1 {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 200px;
    cursor: pointer;
    position:sticky;
}

.created {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    position: relative;
}

.creado {
    color: #09f5c6;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 25px;
}

/*-------------------ANIMACION----------------*/

.container1 {
    position: relative;
    width: 88%;
    margin-top: -370px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading1 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading1:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}

@keyframes load {

    0% {
        width: 0;
        background: #09f5c6;
    }


    100% {
        width: 100%;
        background: #09f5c6;
    }
}



/*-------------------ANIMACION 2----------------*/

.container2 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading2 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading2:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}



/*-------------------ANIMACION 3----------------*/

.container3 {
    position: relative;
    width: 88%;
    margin-top: -35px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading3 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading3:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}




/*-------------------ANIMACION 4----------------*/



/*-------------------ANIMACION 5----------------*/

.container5 {
    position: relative;
    width: 88%;
    margin-top: -30px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading5 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading5:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}



/*-------------------ANIMACION 6----------------*/

.container6 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading6 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading6:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}


/*-------------------ANIMACION 7----------------*/

.container7 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading7 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading7:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: loade 3s forwards;
}

@keyframes loade {

    0% {
        width: 0;
        background: #09f5c6;
    }


    100% {
        width: 20%;
        background: #09f5c6;
    }
}


/*-------------------ANIMACION 8----------------*/

.container8 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading8 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading8:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: loada 8s forwards;
}

@keyframes loada {

    0% {
        width: 0;
        background: #09f5c6;
    }


    100% {
        width: 2%;
        background: #09f5c6;
    }
}


/*-------------------ANIMACION 9----------------*/

.container9 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading9 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading9:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: loadx 8s forwards;


}


@keyframes loadx {

    0% {
        width: 0;
        background: #09f5c6;
    }


    100% {
        width: 80%;
        background: #09f5c6;
    }
}

/*-------------------ANIMACION 10----------------*/

.container10 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading10 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading10:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}



/*-------------------ANIMACION 4----------------*/

.container4 {
    position: relative;
    width: 88%;
    margin-top: -30px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading4 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading4:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: load 8s forwards;
}


/*-------------------ANIMACION 12----------------*/


.container12 {
    position: relative;
    width: 88%;
    margin-top: -32px;
    padding: 20px 40px;
    border-radius: 4px;
    box-sizing: border-box;

}

.Loading12 {
    position: relative;
    display: inline-block;
    width: 20%;
    height: 8px;
    background: #444444;
    border-radius: 4px;
    overflow: hidden;
    margin-left: 182px;
}

.Loading12:after {
    content: '';
    position: absolute;
    left: 0;
    width: 0;
    height: 100%;
    border-radius: 4px;
    animation: loadu 5s forwards;
}

@keyframes loadu {

    0% {
        width: 0;
        background: #09f5c6;
    }


    100% {
        width: 70%;
        background: #09f5c6;
    }
}



.animacion {
    margin-left: 50px;
}

/*-----------------LOGO-------------*/


.logo-curriculum1 {
    position: relative;
    margin-left: 100px;


}

.logo-curriculum {
    width: 120px;
}

/*-------TEXTOS TITULOS-----------*/

.div-educacion {
    margin-left: 150px;
}

.educacion {
    color: #09f5c6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.secundaria {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.escuela {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

/*--------------------CURSOS--------------------*/

.div-cursos {
    margin-left: 150px;
    margin-top: 80px;
}

.cursos {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 22px;
    font-weight: 600;
}

.cursos2 {
    color: #09f5c6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 500;
}

.tipo-cursos {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.tipo-cursos2 {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 30px;

}

li {
    font-family: 'Barlow Condensed', sans-serif;
    margin-left: -10px;
}

/*----------------------CURSOS 2-------------------*/

.div-cursos2 {
    margin-left: 700px;
    margin-top: -180px;
}

/*-----------UNIVERSIDAD--------------*/

.div-universidad {
    margin-right: 0px;
    margin-top: -452px;
}

.universidad {
    color: #09f5c6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: 800;
}

.carreras {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 20px;
    font-weight: 600;

}

.div-carreras {
    margin-right: 0px;
    margin-top: -3px;

}

.titulo-carrera {


    width: 70%;
    margin-right: 0px;
    margin-top: -3px;

}

.carrera {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 30px;
}

.uni {

    margin-left: 700px;

    margin-top: 45px;

}

/*-----------------IDIOMA-------------------------*/

.idiomas {
    width: 200px;
    margin-left: 700px;
    margin-top: 400px;

}

.idioma {
    color: #09f5c6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 25px;
    font-weight: 600;

}

.div-idioma {
    margin-top: 0px;
}

.español {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}

.ingles {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

/*------------------SKILSS-----------------------*/

.skills {
    margin-top: -120px;
    margin-left: 150px;

}

.skill {
    color: #09f5c6;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}



h5 {
    color: #fff;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;

}


/*------------------------PROYECTOS---------------------*/

.d-block {
    margin-left: 25%;
    margin-bottom: 100px;
}

.d-md-block {
    text-shadow: black 2px 2px;
}

.carousel-inner {
    margin-top: 100px;
}


/*-------------------CONTACTO------------------*/
.contactoFormulario {
    border-radius: 20px;
    width: 65%;
    height: auto;
    margin: 80px 0 0 0;
}

.contactoFormulario .formulario input[type=text] {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 8px;
    font-size: 22px;
    border: 2px solid #fff;
    margin-bottom: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    margin-left: 150px;

}

.contactoFormulario .formulario input[type=email] {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    width: 70%;
    padding: 8px;
    font-size: 22px;
    border: 2px solid #fff;
    margin-bottom: 40px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    margin-left: 150px;


}

.contactoFormulario .formulario textarea {
    resize: none;
    width: 70%;
    background-color: transparent;
    border: 2px solid #fff;
    margin-bottom: 10px;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 600;
    margin-left: 150px;
    font-size: 22px;
    height: 250px;
}

.contactoFormulario .formulario button {
    color: #ffffff;
    font-size: 20px;
    font-weight: bold;
    background-color: #09f5c6;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    width: 150px;
    height: 50px;
}

.contactoFormulario .formulario .ajusteButton {
    padding: 0;
    margin: 0;
}


input {
    color: white;
}

textarea {
    color: #fff;
}

button {
    border: #fff 1px solid;
    text-shadow: #191919 1px 1px;
}

button:hover {
    animation: boton 1.5s forwards;
}

@keyframes boton {

    10% {
        font-size: 16px;
        background: transparent;
    }

    50% {
        font-size: 25px;
        background: #09f5c6;

    }
}



/*--------------MediaQuery  TABLET INDEX-------------------*/

@media only screen and (min-width:451px)and (max-width:960px) {

    body {
        background-image: url(imagen/galaxy-night-panorama\ \(1\).jpg);
        height: 100vh;
        background-position: center;
        background-repeat: repeat;
        width: 100%;
        background-size: cover;
        font-family: 'Barlow Condensed', sans-serif;
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    p {
        font-size: 16px;


    }

    h1 {
        font-size: 80px;

    }

    h3 {
        font-size: 16px;


    }

    .instagram {
        width: 50px;
    }

    .linkedin {
        width: 40px;
    }

    .github {
        width: 50px;
    }

    span {
        font-size: 12px;
        margin-top: 10px;
    }
}

/*--------------MediaQuery  TABLET INICIO-------------------*/

@media only screen and (min-width:451px)and (max-width:960px) {

.footer{
    width: 100%;
    height: 81px;
    position: absolute;
   bottom: 0;
  
}
    .fotoperfil {
        width: 300px;
        height: 300px;
    }

    .nombre {

        margin-top: -60px;
        font-size: 28px;
    }

    .descripcion {
        margin-top: -30px;
        margin-left: 20px;
        font-size: 16px;
        font-weight: 300;
        font-family: 'Barlow Condensed', sans-serif;
    }

}

/*--------------MediaQuery  TABLET CURRICULUM-------------------*/

@media only screen and (min-width:451px)and (max-width:960px) {

    .logo-curriculum1 {
        margin-left: 50px;


    }

    .logo-curriculum {
        width: 80px;
    }

    /*-------TEXTOS TITULOS-----------*/

    .div-educacion {
        margin-left: 5%;

    }

    .educacion {
        font-size: 25px;
    }

    .secundaria {
        font-size: 16px;
    }

    .escuela {
        font-size: 14px;
    }

    /*--------------------CURSOS--------------------*/

    .div-cursos {
        margin-left: 5%;
    }

    .cursos {

        font-size: 20px;
    }

    .cursos2 {

        font-size: 18px;
    }

    .tipo-cursos {

        width: 100%;
        font-size: 16px;

    }

    .tipo-cursos2 {

        width: 50%;
        font-size: 14px;
    }


    /*----------------------CURSOS 2-------------------*/

    .div-cursos2 {
        margin-left: 50%;

        margin-top: -175px;
    }

    /*-----------UNIVERSIDAD--------------*/

    .uni {
        margin-top: 55px;
        margin-left: 50%;


    }

    .universidad {
        font-size: 25px;
        margin-right: 0;

    }

    .carreras {
        margin-right: 0;
        font-size: 16px;
    }


    .carrera {
        font-size: 14px;

    }



    /*-----------------IDIOMA-------------------------*/

    .idiomas {
        margin-left: 60%;



    }

    .idioma {
        font-size: 20px;
    }

    .español {
        font-size: 14px;
    }

    .ingles {
        font-size: 14px;
    }

    /*------------------SKILSS-----------------------*/

    .skills {
        margin-top: -160px;
        margin-left: 50px;

    }

    .skill {

        font-size: 20px;

    }

    h5 {

        font-size: 16px;


    }

    .animacion {
        margin-left: -50px;
    }

}


/*---------------------Contacto-----------*/

@media only screen and (min-width:451px)and (max-width:960px) {

    .contactoFormulario {
        border-radius: 20px;
        width: 100%;
        height: auto;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .contactoFormulario .formulario input[type=text] {
        font-size: 16px;
        margin-left: 50px;

    }

    .contactoFormulario .formulario input[type=email] {
        font-size: 16px;
        margin-left: 50px;


    }

    .contactoFormulario .formulario textarea {
        margin-left: 50px;
        font-size: 16px;

    }

    .contactoFormulario .formulario button {
        font-size: 16px;
        padding: 2px;
        width: 100px;
        height: 30px;
        margin-left: 50px;
    }

}


.footer1{
    width: 100%;
    height: 81px;
    position: absolute;
   bottom: 0;


  
}
/*--------------MediaQuery  MOBILE INDEX-------------------*/

@media only screen and (max-width:450px) {

    .footer{
        width: 100%;
        height: 81px;
        position: relative;
       bottom: 0;


      
    }
    .footer1{
        width: 100%;
        height: 81px;
        position: absolute;
       bottom: 0;


      
    }

    body {
        background-image: url(imagen/galaxy-night-panorama\ \(1\).jpg);
        height: 100vh;
        background-position: center;
        background-repeat: repeat;
        width: 100%;
        background-size: cover;
        font-family: 'Barlow Condensed', sans-serif;
        overflow-y: scroll;
        scrollbar-width: thin;
    }

    p {
        font-size: 14px;


    }

    h1 {
        font-size: 60px;

    }

    h3 {
        font-size: 14px;
width: 80%;

    }

    .conectate{
        margin-bottom: 10px;
    }

    .explora{
        margin-bottom: 10px;
    }


    /*--------------MediaQuery  MOBILE INICIO-------------------*/

    .fotoperfil {
        width: 200px;
        height: 200px;
        margin-top: 50px;
    }

    .nombre {

        margin-top: -120px;
        font-size: 25px;
    }

    .descripcion {
        margin-top: -80px;
        margin-left: 20px;
        font-size: 16px;

    }

    /*--------------MediaQuery  MOBILE CURRICULUM-------------------*/
    .logo-curriculum1 {
        margin-left: 40px;
        width: 40%;


    }

    .logo-curriculum {
        width: 80px;
    }

    /*-------TEXTOS TITULOS-----------*/

    .div-educacion {
        margin-left: 20%;

        width: 70%;
    }

    .educacion {

        font-size: 22px;
    }

    .secundaria {
        font-size: 16px;
    }

    .escuela {
        font-size: 14px;
    }

    /*--------------------CURSOS--------------------*/

    .div-cursos {
        margin-left: 20%;
        margin-top: 240px;
        position: absolute;
        margin-bottom: 150px;
        width: 80%;
    }

    .cursos {

        font-size: 18px;
        width: 90%;
    }

    .cursos2 {

        font-size: 14px;

    }

    .tipo-cursos {
        width: 90%;
        font-size: 14px;

    }

    .tipo-cursos2 {
        margin-left: -5%;
        width: 70%;
        font-size: 14px;
    }


    /*----------------------CURSOS 2-------------------*/

    .div-cursos2 {
        width: 70%;
        margin-left: 20%;
        position: absolute;
        margin-top: 500px;
        margin-bottom: 50px;

    }

    /*-----------UNIVERSIDAD--------------*/

    .uni {
        width: 70%;
        margin-top: 520px;
        position: relative;
        margin-left: 20%;




    }

    .universidad {

        font-size: 25px;


    }

    .carreras {

        margin-right: 0;
        font-size: 16px;
    }


    .carrera {

        font-size: 14px;

    }



    /*-----------------IDIOMA-------------------------*/

    .idiomas {
        margin-left: 20%;
        margin-top: 550px;


    }

    .idioma {
        font-size: 20px;
    }

    .español {
        font-size: 14px;
    }

    .ingles {
        font-size: 14px;
    }

    /*------------------SKILSS-----------------------*/

    .skills {
        margin-top: 50px;
        margin-left: 15%;
        width: 80%;


    }

    .skill {

        font-size: 20px;

    }

    h5 {

        font-size: 16px;


    }

    .animacion {
        margin-left: -50px;

    }


    .contain{
        width: 40%;
        margin-left: 170px;
    }

    /*---------------------Contacto-----------*/



    .contactoFormulario {
        border-radius: 20px;
        width: 100%;
        height: auto;
        margin-top: 80px;
        display: flex;
        justify-content: center;
    }

    .contactoFormulario .formulario input[type=text] {
        font-size: 16px;
        margin-left: 50px;

    }

    .contactoFormulario .formulario input[type=email] {
        font-size: 16px;
        margin-left: 50px;


    }

    .contactoFormulario .formulario textarea {
        margin-left: 50px;
        font-size: 16px;

    }

    .contactoFormulario .formulario button {
        font-size: 16px;
        padding: 2px;
        width: 100px;
        height: 30px;
        margin-left: 50px;
    }




}